<!doctype html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">

        <title>17</title>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
        <link rel="manifest" href="/site.webmanifest">
      <!--CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">     
        <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">     
        <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />    

        <!-- Add custom CSS here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
    </head>
    <body>
        <header class="page-1-header">
            <div class="container">
                <div class="page-1-brand">
                    <a href="#"><img src="images/brand.png" alt=""></a>
                </div>
            </div>
        </header>
        <!-- page 1 hero start -->
        <section class="hero page-1-hero  page-3-hero page-4-hero page-5-hero page-6-hero page-7-hero page-8-hero page-9-hero page-10-hero  page-11-hero page-12-hero page-17-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <div class="page-1-hero-progress">
                        <ul>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-top">
                            <h1>Vamos tirar uma foto sua com seu documento?</h1>
                            <p>Procure um local <span>Iluminado!</span>
                                Retire os <span>acessórios</span> do rosto e cabeça!
                                Segure seu <span>documento</span> e de um <span>click!</span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="document-tittle">
                        <h2>Enviar imagens</h2>
                    </div>
                        <div class="file-wrapper">
                          <label>
                          <img src="images/file-icon.svg">
                          <input type="file" size="60">
                          <div class="inner-text">
                              <p><span class="d-md-block d-none">Clique para enviar seu arquivo</span><span class="d-md-none">Toque para enviar seu arquivo</span></p>
                          </div>
                          </label>
                          </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="image-holder main-image">
                            <figure><img src="images/man_4.png" alt=""></figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="page-1-hero-btn">
                        <a href="#" class="btn">VOLTAR</a>
                        <a href="#" class="btn">PRÓXIMO <span><img src="images/double-arrow.svg" alt=""></span></a>
                    </div>
                    </div>
            </div>
        </section>
        <!-- page 1 hero end -->
        <section class="cashback page-1-cashback page-6-cashback page-7-cashback page-10-cashback page-12-cashback">
            <div class="container">
            <img src="images/dark-bg.svg" alt="" class="cashback-bg">
            <img src="images/visa_card.png" alt="" class="visa_card">
            <img src="images/4_arrows.svg" alt="" class="arrows_4">
        </div>
        </section>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/swiper-bundle.min.js"></script>
        <script src="js/custom.js"></script>    
    </body>
</html>  